@charset "utf-8";
/*重置样式*/
html,body,ul,li,ol,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,figure,input{margin:0;padding:0;}
body{
    font-family:"微软雅黑";
}
ul,ol,li{
    list-style: none;
}
a,u{
    text-decoration:none;
}
b,strong{
    font-weight:normal;
}
i,em{
    font-style:normal;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
    font-size:16px;
}
img{
    border:0;
    display: block;
}
.clear-fix:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}
.top-con,.search-con,.nav-con,.seckill-con,.phone-con,footer{width:1200px;margin: 0 auto;}

//side
.side{
    width:59px;
    height: 177px;
    line-height:400px;
    overflow:hidden;
    background: url(../images/index/side.jpg) no-repeat;
    position:absolute;
    right:43px;
    top:70px;
    z-index:1000;
    display:none;
  
}

/*top-con*/
#top{
    height:29px;
    background:#eaeaea;
    border-bottom:1px solid #cccccc;
}
.top-con{
    height: 29px;

}
.top-con .left{
    float:left;
    width:341px;
    height:29px;
    line-height: 29px;
}
.top-con .left span{
    font-size:12px;
    color:#666666;
}
.top-con .right{
    float:right;
    width:331px;
    height:29px;
    line-height:29px;
}
.top-con .right a{
    font-size:12px;
    display:block;
    float:left;
    color:#333333;

}
.top-con .right .a1{
    width:73px;
    position:relative;
    background: url(../images/index/line.jpg) no-repeat right center;
}
.top-con .right .a1 i{
    width:8px;
    height:5px;
    background:url(../images/index/sl_sitenav.png)  no-repeat;
    position: absolute;
    top:12px;
    right:10px;
}
.top-con .right .a2{
   padding:0 18px;
}
.top-con .right .a3{
    width:70px;
    background: url(../images/index/line.jpg) no-repeat right center;
}
.top-con .right span{
    display:block;
    width:83px;
    height:29px;
    line-height:29px;
    float:left;
    font-size:12px;
    position: relative;
    padding-left:21px;
}
.top-con .right span i{
    width:10px;
    height:10px;
    position: absolute;
    left:6px;
    top:9px;
    background: url(../images/index/sl_sitenav.png) no-repeat -20px 0;
}

//search-con
.search-con{
    height:100px; 
    h1{
        float:left;
        width:351px;
        height:86px;
        padding-top:14px;
        padding-left:5px;
    }
    form{
        float:left;
        width:430px;
        height: 62px;
        padding-top:38px;        
        input{
            border:0;
        }
        .txt{
            width:348px;
            height:28px;
            float: left;           
            border:{
                style:solid;               
                left:{  
                    width:1px;                  
                    color:#ffc400
                }
                top:{  
                    width:1px;                  
                    color:#ffc400
                }
                bottom:{  
                    width:1px;                  
                    color:#ffc400
                }
            }
        }        
        .btn{
            float: left;
            width:81px;
            height:30px;
            background: #ffc400;            
        }       
    }  
}

//nav-con
#nav{
    height:40px;
    background: #ffc400;
    margin-bottom: 10px;
    .nav-con{
        height:40px;
        background: pink;
        ul{
            width:660px;
            height:40px;
            float:left;
            li{
                float:left;
                a{
                   display:block;
                   height: 40px;
                   color:#001800;
                   line-height:40px;
                   padding: 0 15px;
                
                }
                .a1{
                    width:160px;
                    text-align:center;
                }
            }
        }
        .cart{
            width:191px;
            height:24px;
            background:url(../images/index/sl_header_980.png) no-repeat 0 -75px;
            float:right;
            margin:7px 19px 0 0;        
        }
    }
}

//banner
#banner{
    height:480px;
    background: red;
    position: relative;
    .slider{
        height:480px;
        background: black;
        position:relative;
        ul{
            height:100%;
            li{
                height:100%;
                a{
                    display:block;
                    height:100%;
                    img{
                        width:100%;
                        height:100%;
                    }
                }
            }
        }
        ol{
            width:220px;
            height:11px;
            z-index:1;
            position: absolute;
            left:50%;
            transform:translateX(-50%);
            bottom:18px;
            li{
                width:42px;
                height:11px;
                margin-right:2px;
                background: #000;
                opacity:0.5;
                float:left;
                cursor:pointer;
            }
        }
        span{
            width:40px;
            height: 60px;
            background: black url(../images/index/slider-arrow.png);
            opacity:0.5;
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            z-index:2;
            cursor:pointer;
        }
        #ltBtn{
            left:21.4%;
            background-position:-127px -138px;
        }
        #rtBtn{
            right:24%;
            background-position:-67px -138px;
        }
    }
    .classify{
        width: 190px;
        height:480px;
        position:absolute;
        left:8%;
        top:0;
        li{
            height:32px;
            line-height: 32px;
            text-align:center;
            font-size:14px;
            background:#f6f6f6 url(../images/index/tbut1.png) no-repeat 37px center;
            a{
               color:black;
            }
        }
        li:hover{
            background:white;
            a:hover{
                color:#ff9900;
            }
        }
    }
    .notice{
        width:227px;
        height:480px;
        position: absolute;
        right:8%;
        top:0;
        .hd{
            height:39px;
            line-height: 39px;
            font-size:16px;
            color:#333333;
            text-align:center;
            background: white url(../images/index/home_icon1.png) no-repeat 77px center;
            border-bottom:1px solid #e0e0e0;
        }
        .contain{
            height: 118px;
            background:rgba(255,255,255,0.82);
            padding:20px 17px 0px 16px;
            line-height:21px;
            a{
                font-size:12px;
                display:block;
            }
            .hong{
                color:#ff1f6f;
            }
        }
        .bd{
            height: 320px;
        }
    }
}


section{
    background: #fafafa;
//  height: 4760px;
    padding-top:20px;
    padding-bottom:20px;
    //seckill-con
    .seckill-con{
        height:274px;
        background: white;
        margin-bottom:28px;
        .count{
            width:190px;
            height: 265px;
            float:left;
            padding-top: 5px;
        }
        .goods{
            width: 1010px;
            height:269px;
            float: right;
            padding-top:5px;
            ul{
                float:left;
                li{
                    float:left;
                    width:200px;
                    height:267px;
                    text-align:center;
                    border:{
                        style:solid;
                        left:{
                            width: 1px;
                            color: #fafafa;
                        }
                        right:{
                            width: 1px;
                            color: #fafafa;
                        }
                        top:{
                            width:0;
                        }
                        bottom:{
                            width:0;
                        }
                    }
                    a{
                        display: block;
                        width:200px;
                        img{
                        display:inline-block;
                        width:150px;
                        height: 150px;
                        margin-top:8px;
                        text-align:center;
                        }
                    }                        
                    p{
                        font-size: 14px;
                        color:#000100;
                        font-weight:bold;
                        line-height:14px;
                        margin:28px 0 30px;
                    }  
                    .price{
                        width:184px;
                        height: 30px;
                        background: #ff0000;
                        margin-left:10px;
                        span{
                            display:block;
                            height:30px;
                            color:white;
                            float:left;
                        }
                        .span1{
                            width:79px;
                            font-size:16px;
                            text-align:center;
                            line-height: 30px;
                        }
                        .span2{
                            width:37px;
                            font-size:12px;
                            text-decoration:line-through;
                            line-height: 35px;
                        }
                        .span3{
                            float:left;
                            width:66px;
                            height:28px;
                            background:white;
                            font-size:14px;
                            border:1px solid #ff0000;
                            color:#ff0000;
                            line-height: 28px;                                                        
                        }
                    }                                                                   
                }
            }
        }
    }
    
    //phone-con
    .phone-con{
        height: 525px;
        .title{
          width:1200px;
          height:40px;
          img{
              width:100%;
              height:40px;
          }
        }
        .content{
            height:417px;
            width: 1200px;

            .l{
                width:199px;
                height:417px;
                border-right:1px solid #f5f5f5;
                margin-right:1px;
                float: left;
            }
            .c{
                width:399px;
                height:416px;
                margin-right:1px;
                float: left;
                border:0;
                border:{
                    style:solid;
                    bottom:{
                       width:1px; 
                       color:#f5f5f5;
                    }
                    right:{
                       width:1px; 
                       color:#f5f5f5;
                    }
                    
                }
            }
            .r{
                float:left;
                width:597px;
                height:414px;
                border-right:1px solid #f5f5f5;
                margin-top:3px;
                ul{
                    li{
                        background: white;
                        width:198px;
                        height:206px;
                        margin:0 1px 1px 0;
                        float:left;
                        text-align:center;
                        .a1{
                            display:block;
                            width:124px;
                            height:150px;
                            margin:5px 0 0 37px;
                            img{
                                width:124px;
                                height:150px;
                            }
                        }
                        .a2{
                            font-size:12px;
                            color: black;
                        }
                        .a3{
                            height: 12px;
                            color:#e30303;
                        }
                    }
                }
            }
        }
        .logo{
            width:1200px;
            height: 68px;
            background: gray;
            background: white;
            a{
                float:left;
            }
        }
    }
}



//footer
footer{
    height: 345px;
    .T{
        height:47px;
        background: url(../images/index/sl_footer.png) no-repeat;
        line-height:400px;
        overflow:hidden;
        margin-bottom:20px;
        opacity:0;
    }
    .C{
        height:150px;
        margin-bottom:20px;
        div{  
            float:left;
            width:124px;          
        }
        .server{
            width: 245px;
            height:124px;
            border-right:1px solid #dddddd;
            padding:26px 0 0 145px;
            p{
                color: #999999;
                font-size: 12px;
                line-height: 24px;
                strong{
                    font-size:14px;
                    color:#333333
                }
            }
            .server_time{
                background: url(../images/index/sl_footer.png) no-repeat 0 -47px; 
                padding-left:60px;
                padding-top:10px;
                margin-top:14px;
                p{
                    font-size:10px;
                    line-height: 25px;
                    em{
                        color:#ff665f;
                    }
                }
            }
        }
        .div2{
            border-right:1px solid #dddddd;
            padding-left:15px;                        
            li{
                line-height:20px;
                a{
                    font-size:12px;
                    color:#999999;
                }
            }
            .li1{
                line-height:24px;
                a{
                    color:black;
                }
            }
        }        
    }
    .B{
        padding-left:120px;
        height:92px;
        font-size:12px;
        line-height: 22px;
        position: relative;
        .fl{
            color:#333333;
        }
        p{
            color:#999999;
        }
        img{
            position: absolute;
            right:110px;
            top:0;
            width: 36px;
            height: 50px;
        }
    }
}
