@charset "utf-8";
/*重置样式*/
html,body,ul,li,ol,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,figure,input{margin:0;padding:0;}
body{
    font-family:"微软雅黑";
}
ul,ol,li{
    list-style: none;
}
a,u{
    text-decoration:none;
}
b,strong{
    font-weight:normal;
}
i,em{
    font-style:normal;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
    font-size:16px;
}
img{
    border:0;
    display: block;
}
.clear-fix:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}
body{
    background: pink;
}
